body {
    background-color: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: gold;
}

button {
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

button {
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}